<div class="content">
    <h2>{{ "Mes entrainements"|trans }} ({{ trainings|length }})</h2>
    <div class="listing-training row">
        {% for training in trainings %}
            <div class="col-md-4">
                <div class="m-card js-edit-link" data-url="{{ path('dashboard_configuration_edit_training', {'id':training.id}) }}">
                    <div class="training-image m-card-image">{{ training.name|slice(0,2) }}</div>
                    <div class="training-description">
                        <div class="training-name">{{ training.name }}</div>
                        {% include '::modules/training-days.html.twig' with {days: training.moduleDays} %}
                    </div>
                    <div class="training-exercises">
                        <table>
                            {% for exercise in training.exercises %}
                                <tr>
                                    <td>{{ exercise.name }}</td>
                                    <td>{{ exercise.repetitionMax }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="col-md-4">
            <div class="m-card m-card-add js-edit-link" data-url="{{ path('dashboard_configuration_add_training') }}">
                <div class="training-image m-card-image"></div>
                <div class="training-description"></div>
                <div class="training-exercises">
                    <i class="material-icons">add_circle</i>
                </div>
            </div>
        </div>
    </div>
</div>