{% extends '@ClientBundle/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset(prefix_path ~ '/web/css/flickity.css') }}">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset(prefix_path ~ '/web/js/flickity.pkgd.min.js') }}"></script>

    <script>
        $('.workout-carousel').flickity({
            contain: true,
            wrapAround: true,
            initialIndex: {{ positionWorkoutNow }}
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container-client m-client-homepage">
        <h1>{{ "Dashboard"|trans }}</h1>

        <div class="content workout-carousel">
            {% for nextWorkout in nextWorkouts %}
            <div class="next-workout next-workout-{{ nextWorkout.status }}">
                <div class="next-workout-content">
                    <div>
                        <p class="date">
                            <span>{{ nextWorkout.dateDay }}</span>
                            <span>{{ nextWorkout.dateMonth }}</span>
                        </p>
                        <p class="name">{{ nextWorkout.trainingName }}</p>
                    </div>

                    <div class="exercises">
                        {% for exercise in nextWorkout.exercises %}
                            <p>{{ exercise.name }}</p>
                        {% endfor %}
                    </div>
                </div>
                <input type="button" class="m-button-medium" value="{{ "Commencer"|trans }}">
            </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}