{% trans_default_domain 'FOSUserBundle' %}

<div class="row justify-content-center">
    <div class="m-register">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form form-inline'}}) }}

        <h1>{{ "Créer un compte"|trans }}</h1>

        <div class="form-group form-group--register">
            {{ form_errors(form.firstName) }}
            {{ form_label(form.firstName, 'form.first_name'|trans, {'label_attr': {'class': 'm-label-small'}}) }}
            {{ form_widget(form.firstName, { 'attr': {'class': 'form-control m-input-text' }}) }}
        </div>

        <div class="form-group form-group--register">
            {{ form_errors(form.lastName) }}
            {{ form_label(form.lastName, 'form.last_name'|trans, {'label_attr': {'class': 'm-label-small'}}) }}
            {{ form_widget(form.lastName, { 'attr': {'class': 'form-control m-input-text' }}) }}
        </div>
        <div class="form-group form-group--register">
            {{ form_errors(form.email) }}
            {{ form_label(form.email, 'form.email'|trans, {'label_attr': {'class': 'm-label-small'}}) }}
            {{ form_widget(form.email, { 'attr': {'class': 'form-control m-input-text' }}) }}
        </div>

        <div class="form-group form-group--register">
            {{ form_errors(form.plainPassword.first) }}
            {{ form_label(form.plainPassword.first, 'form.password'|trans, {'label_attr': {'class': 'm-label-small'}}) }}
            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control m-input-text' }}) }}
        </div>

        <div class="form-group form-group--register">
            {{ form_errors(form.plainPassword.second) }}
            {{ form_label(form.plainPassword.second, 'form.password_confirmation'|trans, {'label_attr': {'class': 'm-label-small'}}) }}
            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control m-input-text' }}) }}
        </div>

        {{ form_rest(form) }}
        <div class="actions text-center">
            <input class="m-button-medium" type="submit" value="{{ 'registration.submit'|trans }}"/>
        </div>

        {{ form_end(form) }}
    </div>
</div>