{% extends '@ClientBundle/layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset(prefix_path ~ '/bundles/client/js/add-training.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-client m-client-configuration-add-training">
        <h1>{{ "Configuration"|trans }} / {{ "Ajouter un entrainement"|trans }}</h1>

        <div class="content">
            <h2>{{ "Ajouter un entrainement"|trans }}</h2>

            <form class="form form-inline" method="post"
                  action="{{ path('dashboard_configuration_add_training_confirm') }}">

                <div class="form-training-configuration">
                    <h3>
                        <i class="material-icons">filter_1</i>
                        {{ "Informations"|trans }}
                    </h3>

                    <div class="form-group">
                        <label class="m-label-small" for="name">{{ 'Nom'|trans }}</label>
                        <input class="form-control m-input-text" type="text" id="name" name="name" required="required"/>
                    </div>

                    <h3>
                        <i class="material-icons">filter_2</i>
                        {{ "Exercices"|trans }}
                    </h3>
                    <div id="group-exercises">
                        <table class="table table-exercises">
                            <tr>
                                <th>{{ "Nom"|trans }}</th>
                                <th>{{ "Répétition max."|trans }}</th>
                            </tr>
                            <tr>
                                <td>
                                    <select id="select-all-exercises" class="js-select-exercises" name="exercisesName[]">
                                        <option value="">-</option>
                                        {% for exercise in exercises %}
                                            <option value="{{ exercise.id }}">{{ exercise.name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><input class="form-control m-input-text" name="exercisesRM[]" type="number" required="required"></td>
                            </tr>
                        </table>
                    </div>
                    <div id="btn-add-exercise">
                        <i class="material-icons">add</i>
                        <span>{{ "Ajouter"|trans }}</span>
                    </div>

                    <div class="form-group form-group-action">
                        <input class="m-button-medium btn-show-preview" type="button" value="{{ "Ajouter"|trans }}">
                    </div>
                </div>

                <div class="session-workout-preview">
                <h3>
                    <i class="material-icons">filter_3</i>
                    {{ "Séances"|trans }}
                </h3>
                <div id="group-session-workout">
                    <table class="table table-session-workout">
                        <tr>
                            <th>{{ "Séance"|trans }}</th>
                            <th>{{ "Jour"|trans }}</th>
                            <th>{{ "Programme"|trans }}</th>
                        </tr>
                    </table>
                </div>

                    <div class="form-group form-group-action">
                        <input class="m-button-medium" type="submit" value="{{ "Confirmer"|trans }}">
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}