{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <header class="header-user">
        <span class="btn-sidenav-toggle">
            <i class="material-icons">menu</i>
        </span>
        <a class="icon-logo-cta" href="{{ path('dashboard_homepage') }}">
            <svg class="icon icon-logo">
                <use xlink:href="{{ asset('sport/web/img/icons.svg'~'#logo') }}"></use>
            </svg>
        </a>
        <a class="header-logout" href="{{ path('fos_user_security_logout') }}">
            <span>{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span>
            <i class="material-icons">clear</i>
        </a>
    </header>
{% else %}
    <header>
        <a href="{{ path('dashboard_homepage') }}">
            <svg class="icon icon-logo">
                <use xlink:href="{{ asset('sport/web/img/icons.svg'~'#logo') }}"></use>
            </svg>
        </a>
    </header>
{% endif %}